* {
    margin: 0;
}

[src="images/hero/andre-francois-mckenzie-08uIUe2a9XY-unsplash.jpg"] {
    width: 100%;
    height: 100vh;
}
.hero_navbar {
    width: 100%;
}

select {
    background-color: #808080; /* Light grey background */
}
#LivedNav {
    margin-top: 1.2rem;

}
p span {
    vertical-align: bottom;
}
.hero_floatbar {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 1);
   width: 80%;
   gap: 1rem;
   margin: auto;
   right: 8%;
}
.hero_btn {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.5);
    padding: 1.2rem 5rem 1.2rem 5rem;
    border: solid #2f3133 2px;
    text-decoration: none;
}
.hero_btn:hover {
    background: #222324;
    text-decoration: none;
    color: #FFFFFF;

}

[src="images/illustration.jpg"] {
    width: 94%;
    height: 83vh;
    margin: auto;
}

.experience_hr {
    border-top: 2px solid #DCDCDC;
    margin-top: 1.3rem;
}

.experience_section {
    margin-inline-end: 10rem;
}

.location_btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 27px;
    background: rgba(255, 255, 255, 0.76);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.79);
    margin: .3rem
}
.location_btn:hover {
    background: rgba(0, 0, 0, 0.28);
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.8em;
}

.footer_section {
    background-color: #242424;
    color: #ffffff;margin-top: 2rem;
}
.footer_menu ul li:nth-child(1), .footer_clients ul li:nth-child(1), .contacts {
    padding-bottom: 15px;
    color: gray;
}

.footer_logo p {
    line-height: 64px;
    align-items: center;
}

.u_line {
    color: #848482;
    width: 16%;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #DCDCDC;
}

.property_images {
    height: 90%;
    width: 100%;
}

.property_price {
    font-size: 2em;
    font-weight: bold;
}
.property_size {
    font-size: 1.1em;
    color: #848482;
    padding-bottom: 1em;
}
.property_details {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    background: #DCDCDC;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-inline-start: 1rem;
}

properties:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 950px) {
    .hero_navbar div:not(:first-child) {display: none;}
    .hero_1 {
        display: block;
        width: 100%;
    }
    .hero_navbar div a.icon {
      float: right;
      display: block !important; 
    }
}  


@media screen and (max-width: 950px) {
    .hero_navbar.responsive {position: relative; background-color: pink;}
    .hero_navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .hero_navbar.responsive div {
      float: none;
      display: block;
      text-align: left;
    }
    .hero_2 ul li {
        display: block;
        width: 100%;
        text-align: center;
    }
    .hero_3 {
        display: block;
        width: 100%;
        text-align: right;
    }
    .background_image {
        display: block !important;
        width: 100%;
        position: relative;
        justify-items: center;
    }
    .picture_image {
        width: 80%;
    }
    .contact_details {
        width: 80%;
    }
    .contact_details div:first-of-type p{
        text-align: center !important;
    }
    .contact_grid {
        height: 155vh !important;
    }
  }


  /* Homepage Responsive styling */
  
  @media screen and (max-width: 950px) {
    .hero_text {
        width: 11ch;
        padding: 0 5px 0 10px;
        font-size: 4rem;
    }
    .hero_1 p {
        padding-left: 0.5rem;
    }
    .about_section {
        grid-template-columns: 100%;
        height: auto;
    }
    .about_text1 {
        justify-items: center;
    }
    .about_text2 {
        justify-items: center;
    }


    .experience_section {
        position: relative;
        height: auto;

    }
    .experience_section_row1 {
        display: block;
        text-align: center;
    }
    .exp_txt {
        padding: 0;
    }


    .our_services {
        height: auto;
    }
    .services_categories {
        display: block;
        padding: 0 1 0 0;
        justify-items: center;
    }

    .house_image_options {
        margin-top: 2rem;
    }



    .Best_Properties_txt {
        display: block;
    }
    .Best_Properties_Explore {
        justify-items: flex-end;
        padding-top: 1em;
        font-size: 1.2rem;
    }
    .Best_Properties_Explore img {
        padding-right: 1rem;
        padding-left: 3px;
    }

    .Best_Properties_grid {
        grid-template-columns: 1fr 1fr;
        padding: 0 0.5rem;
        height: auto;
        gap:10px
    }
    .Best_Properties_grid div p {
        height: auto;
        width: 100%;
        
    }.property_details2 {
        display: block;
        margin-top: 0.6rem;
        margin-right: 3rem;
        margin-bottom: 1rem;
        
    }

    .Blog_section {

        display: block;
        height: auto;
    }

    .blogs {
        height: auto;
        display: block;
        columns: 1;
    }
    .blogs p {
        width: 20ch;
        height: auto;
        margin-top: 1.5rem;
    }
    .blogs p>span {
        position: relative;
        margin: 1em;
    }
    .blogs_title {
        text-align: center;
        padding-left:  0;
        padding-bottom: 0.2rem;
        font-size: 3rem;
    }
  }

